        <h4>Article Pagination</h4>

        <code>notes url with page: http://host.domain/?slug=token&page=2 </code>

        <ul class="b">
                
                {{#each articlesPagination}}
                <li>artile slug : {{this.slug}}</li>
                <li>page : {{this.page}}</li>
                {{/each}}
        </ul>