    <h4>Data Parsing</h4>

    <ul class="b">
                {{#each tokenParsed}}
                <li>username : {{this.username}}</li>
                <li>token: {{this.token}}</li>
                <li>article slug: {{this.articleSlug}}</li>
                {{/each}}
    </ul>