    <h4>Data Parsing</h4>

    <ul class="b">
                {{#each tokenParsed}}
                <li>{{this.username}}</li>
                <li>{{this.token}}</li>
                <li>{{this.articleSlug}}</li>
                {{/each}}
    </ul>